<h1>Listing sprint_board_columns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sprint</th>
      <th>User</th>
      <th>Boardcolumn type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sprint_board_columns.each do |sprint_board_column| %>
      <tr>
        <td><%= sprint_board_column.name %></td>
        <td><%= sprint_board_column.description %></td>
        <td><%= sprint_board_column.sprint_id %></td>
        <td><%= sprint_board_column.user_id %></td>
        <td><%= sprint_board_column.boardcolumn_type_id %></td>
        <td><%= link_to 'Show', sprint_board_column %></td>
        <td><%= link_to 'Edit', edit_sprint_board_column_path(sprint_board_column) %></td>
        <td><%= link_to 'Destroy', sprint_board_column, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sprint board column', new_sprint_board_column_path %>
