<h1>Listing sprint_activities</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Spint</th>
      <th>Sprint activity type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sprint_activities.each do |sprint_activity| %>
      <tr>
        <td><%= sprint_activity.content %></td>
        <td><%= sprint_activity.spint_id %></td>
        <td><%= sprint_activity.sprint_activity_type_id %></td>
        <td><%= link_to 'Show', sprint_activity %></td>
        <td><%= link_to 'Edit', edit_sprint_activity_path(sprint_activity) %></td>
        <td><%= link_to 'Destroy', sprint_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sprint activity', new_sprint_activity_path %>
