<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.datetime_select :end_at %>
  </div>
  <!-- <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div> -->
  <div class="field">
    <% if @companies %>
    <%= collection_select(:project, :company_id, @companies, :id, :name, prompt: true) %>
    <% else %>
      <%= f.fields_for :company do |ff| %>
        <%= ff.label :name, 'Company name' %><br>
        <%= ff.text_field :name %>
      <% end %>
    <% end %>

   <!--  <%= f.label :company_id %><br>
    <%= f.number_field :company_id %> -->
  </div>
  <!-- <div class="field">
    <%= f.label :project_type_id %><br>
    <%= f.number_field :project_type_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
