<h1>Listing default_board_columns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Boardcolumn type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @default_board_columns.each do |default_board_column| %>
      <tr>
        <td><%= default_board_column.name %></td>
        <td><%= default_board_column.description %></td>
        <td><%= default_board_column.boardcolumn_type_id %></td>
        <td><%= link_to 'Show', default_board_column %></td>
        <td><%= link_to 'Edit', edit_default_board_column_path(default_board_column) %></td>
        <td><%= link_to 'Destroy', default_board_column, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default board column', new_default_board_column_path %>
