<h1>Listing default_task_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @default_task_types.each do |default_task_type| %>
      <tr>
        <td><%= default_task_type.name %></td>
        <td><%= default_task_type.color_code %></td>
        <td><%= link_to 'Show', default_task_type %></td>
        <td><%= link_to 'Edit', edit_default_task_type_path(default_task_type) %></td>
        <td><%= link_to 'Destroy', default_task_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default task type', new_default_task_type_path %>
