<h1>Listing sprint_activity_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Format</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sprint_activity_types.each do |sprint_activity_type| %>
      <tr>
        <td><%= sprint_activity_type.name %></td>
        <td><%= sprint_activity_type.format %></td>
        <td><%= link_to 'Show', sprint_activity_type %></td>
        <td><%= link_to 'Edit', edit_sprint_activity_type_path(sprint_activity_type) %></td>
        <td><%= link_to 'Destroy', sprint_activity_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sprint activity type', new_sprint_activity_type_path %>
